# core
torch
absl-py
ffmpeg-python
numpy
torchaudio
scipy
pyannote.metrics
pysndfx

# dev
matplotlib
tensorboard
seaborn

# python notebooks
jupyter
jupyterlab-git
jupyterlab
nbdime

# for linting and testing
black
flake8
pre-commit
pylint
pytest
